@import "colors";

html{
  font-family: sans-serif;
  font-size: 13px;
  color: $main-color;
}

body{
  margin: 0;
  min-height: 1000px;
  &[stickynav='true']{

    main{
      padding-top: 62px;
    }

    nav{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

#header{
  position: relative;
  height: 400px;

  .logo-icon{
    background-image: url('../img/logo.svg');
    height: 60px;
    width: 60px;
    display: block;
    margin: 10px auto;
    position: relative;
    z-index: 1;
  }

  .slide{
    background-color: rgba(99, 181, 57, .8);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all .2s ease-out;
    color: $white;

    &.open{
      left: 0;
      transition: all .2s ease-out;
    }

    .btn{
      margin-right: 10px;
      margin-top: 10px;
    }

    .slide-content{
      padding: 40px;
      margin-top: 50px;
      p{
        color: $gray-color;
        line-height: 20px;
      }
      h1{
        color: $white;
      }
    }
  }
}

#phone-button .btn-segment-left{
  background-color: $green-color;
  color: $white;
}

#header-actions{
  padding: 30px;
  .header-action{
    margin: 10px;
    float: left;
  }
}

#header-image{
  background-image: url('../img/header.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

nav{
  background-color: $white;
  text-align: center;
  border-bottom: 1px solid $border-color;

  ul{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;

    li{
      display: inline-block;
      width: 100px;

      a{
        display: block;

        &,&:hover,&:focus,&:active{
          text-decoration: none;
          color: $main-color;
          font-size: 13px;
        }

        &:hover{
          i.fa{
            color: $nav-hover-color; 
          }
        }

        i.fa{
          display: block;
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

main{
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 100px;

  section{
    max-width: 800px;
    margin: 20px auto 30px auto;

    h1{
      font-size: 13px;
      font-weight: normal;
      color: $section-heading-color;
    }
  }

  article.listing{
    border: 1px solid $border-color;
    border-radius: 5px;
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin: 0 0 20px 0;

    &.signed-up{
      color: $gray-color;

      .listing-details{
        h2{
          color: $gray-color;
        }
      }

      .listing-price{
        .listing-quote,
        .listing-discount{
          color: $gray-color;
        }
      }

      i, 
      .listing-content .service-date{
        color: $main-color;
      }
    }

    .listing-image,
    .listing-details{
      float: left;
      height: 100%;
    }

    .listing-image{
      width: 20%;
      overflow: hidden;
      position: relative;

      .signed-up-overlay{
        background-color: rgba(99, 181, 57, .9);
        text-align: center;
        color: $white;
        font-size: 20px;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding-top: 40px;

        i{
          margin: 10px;
          font-size: 30px;
          display: block;
          color: $white;
        }
      }

      img{
        height: 100%;
      }
    }
    .listing-details{
      box-sizing: border-box;
      width: 80%;
      padding: 20px 0;

      h2{
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        color: $green-color;
      }
    }
    .listing-content,
    .listing-price{
      float:left;
      box-sizing: border-box;
      padding: 0 20px;
    }
    .listing-content{
      width: 72%;
      border-right: 1px solid $border-color;

      > p{
        margin: 17px 0 0 0;
      }

      .service-text{
        color: $gray-color;
        i{
          margin-right: 5px;
          color: $gray-color;
        }
      }
      .service-date{
        text-transform: uppercase;
      }
    }
    .listing-price{
      width: 28%;
      color: $gray-color;

      p{
        margin-top: 0;
      }

      .listing-quote{
        font-size: 20px;
        display: inline-block;
        line-height: 24px;
        color: $green-color;
        margin: 5px 0 10px 0;

        > span{
          color: $gray-color;
          font-size: 12px;
          float: right;
          margin-left: 7px;
          line-height: 11px;
        }
      }

      .listing-discount{
        color: $main-color;
      }

      &.no-price > p{
        text-align: center;
        text-transform: uppercase;
        margin: 33px 0;
      }
    }
    .btn{
      border-radius: 6px;
      text-align: center;
      line-height: 18px;
      display: block;
    }
  }
}

.left{
  float: left;
}

.right{
  float: right;
}

.btn{
  display: inline-block;
  padding: 6px 10px;
  border-radius: 16px;
  border: 2px solid $white;
  color: $white;
  position: relative;
  text-decoration: none;
  line-height: 16px;
  overflow: hidden;

  &.btn-white{
    background-color: $white;
    color: $main-color;
    padding: 8px 10px;
    border: none;
  }
  &.btn-green{
    background: linear-gradient(#90D36D, $green-color);
  }
  &.btn-gray{
    background: linear-gradient(#dedede, $gray-color);
  }
  &.btn-color-green{
    color: $green-color;
  }

  &.btn-large{
    padding: 10px;
    border-radius: 20px;

    &.btn-white{
      padding: 12px;
    }
  }

  .btn-segment-left{
    float: left;
    display: block;
    margin: -10px 10px -10px -10px;
    padding: 10px 0 10px 10px;
  }

  i{
    float: left;
    margin-right: 10px;
    font-size: 16px; 
  }

  &.btn-circle{
    padding: 6px;

    i{
      margin-right: 0;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0,0,0,0), $white);
}
