@import "colors";
@import "header";
@import "nav";
@import "buttons";
@import "listing";

.left{
  float: left;
}

.right{
  float: right;
}

html{
  font-family: sans-serif;
  font-size: 13px;
  color: $main-color;
}

body{
  margin: 0;
  min-height: 1000px;
  &[stickynav='true']{

    main{
      padding-top: 62px;
    }

    nav{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

main{
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 100px;

  section{
    max-width: 800px;
    margin: 20px auto 30px auto;

    h1{
      font-size: 13px;
      font-weight: normal;
      color: $section-heading-color;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0,0,0,0), $white);
}
